body{
background: #f8f8ff;
font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #0b0b0d;
}
h2{
font-family: "Fredoka", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.16667;
  text-align: center;
  color: #0b0b0d;
  margin-bottom: 12px;
}
@media only screen and (min-width: 1440px) {
  h2{
    margin-bottom: 24px;
  }
}