.footer {
background: #552c70;
}
.footer-container{
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-navigation{
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 100px;
  font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: #f2f2ff;
}
.footer-text{
font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0em;
  text-align: center;
  color: #f2f2ff;
  margin-top: 8px;
}
@media only screen and (min-width: 1440px) {
 .footer-container{
padding: 48px 72px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo{
margin-left: 0;
margin-right: auto;
}
}