.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 100%;
  height: 96px;
  padding: 16px;
background: #144c0f;
}

.header-container {
padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #46c029;
    border-radius: 50px;
  background: #175611;
}



.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-left: auto;
  background-color: inherit;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
background: #144c0f;
  padding: 130px 80px;
  width: 100%;
  height: 812px;
  z-index: 999;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

}


.menu-item {
font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  color: #f6f6ff;
  transition: font-weight 0.3s ease-in-out;
}

.menu-item:hover,
.menu-item:focus,
.menu-item.active {
font-weight: 600;
}


@media screen and (min-width: 1440px) {
.header{
padding: 16px 72px;
}
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
padding: 12px 24px;
  }

  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .navigation-item {
font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  color: #f6f6ff;
    display: flex;
    justify-content: center;
    transition: font-weight 0.3s ease-in-out;
  }

  .navigation-item:hover {
  font-weight: 600;
  }

  .navigation-item:focus,
  .navigation-item.active {
  font-weight: 600;
  }
}