.home-container{
    padding-top: 144px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}
.home-wrapper{
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
}
.home-title{
font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.1875;
    text-align: center;
    color: #0b0b0d;
}
.home-wrapper p{
    text-align: center;
}
.home-link{
    margin-top: 32px;
    border-radius: 24px;
        padding: 12px 24px;
        width: 266px;
        height: 42px;
background: #144c0f;
display: flex;
justify-content: center;
align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    color: #f6f6ff;
    transition: background 0.3s ease-in-out;
}
.home-link:hover{
background: #206919;
}
.home-img-wrapper{
position: relative;
}
.home-img-one{
    position: absolute;
    top: -24%;
    right: 0;
    width: 32px;
        height: 38px;
}
.home-img-two{
    position: absolute;
    bottom: 0;
left: -4%;
width: 32px;
    height: 38px;
}
@media only screen and (min-width: 1440px) {
.home-container{
    padding-top: 197px;
flex-direction: row;
justify-content: center;
    gap: 32px;
}
.home-wrapper{
width: 628px;
}
.home-title{
font-size: 48px;
line-height: 1.08333;
}

.home-img-wrapper{
width: 636px;
    height: 284px;
}
.home-img-one{
    position: absolute;
    top: -18%;
    right: 0;
width: 46px;
    height: 52px;
}
.home-img-two{
    position: absolute;
    bottom: 0;
left: -3%;
width: 44px;
    height: 60px;
}    
}
/* Discover the Joy of Farm Life */
.discover-section{
background: #7189bb;
}
.discover-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
}
.discover-navigation{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.btn{
    background-color: inherit;
    border: none;
}
.discover-prev.swiper-button-disabled,
.discover-next.swiper-button-disabled,
.game-prev.swiper-button-disabled,
.game-next.swiper-button-disabled {
    opacity: 0.4;

}
@media only screen and (min-width: 1440px) {
 .discover-navigation{
    display: none;
 }
.discover-text-wrapper{
width: 766px;
margin-left: auto;
margin-right: auto;
flex-direction: row;
gap: 24px;
margin-bottom: 48px;
}
.discover-swiper .swiper-wrapper{
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}
.discover-swiper .swiper-slide{
width: 416px;
    height: 184px;
}
}
/* Features That Make Harvest Moon: Home Sweet Home Special */
.features-section{
background: #144c0f;
}
.features-title{
    background: linear-gradient(90deg, #ff8d40 0%, #3d3dfb 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 48px;
}
.desk{
    display: none;
}
.features-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.features-item{
    display: flex;
    align-items: center;
    gap: 4px;
border-radius: 12px;
    padding: 4px 0px;
    width: 343px;
    height: auto;
background: linear-gradient(90deg, #d8efff 0%, #fffbc4 100%);
}
.features-item img{
width: 44px;
    height: 44px;
}
@media only screen and (min-width: 1440px) {
.features-title{
text-align: left;
}
.desk{
    display: block;
}
.mob{
    display: none;
}
.features-list{
flex-direction: row;
gap: 24px;
flex-wrap: wrap;
}
.features-item{
width: 416px;
    height: 86px;
}
.features-item img{
width: 78px;
    height: 78px;
}    
}
/* A Glimpse Inside the Game */
.game-navigation{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.game-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
}
.game-text{
    width: 283px;
}
@media only screen and (min-width: 1440px) {
.game-text-wrapper{
flex-direction: row;
gap: 24px;
width: 855px;
margin-left: auto;
margin-right: auto;
}
.game-text-one{
    width: 416px;
}
.game-text{
    width: 415px;
}    
}
/* Contact */
.contact-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
        padding: 8px;
        width: 343px;
        height: 352px;
box-shadow: 0 4px 4px  rgba(0, 0, 0, 0.25);
    background: #f8f8ff;
    margin-left: auto;
    margin-right: auto;
}
.contact-wrapper h2{
    margin-bottom: 0;
}
.contact-wrapper p{
    text-align: center;
}
@media only screen and (min-width: 1440px) {
.contact-wrapper{
padding: 16px;
    width: 568px;
    height: 234px;
}    
}